@import "../../App.scss";

.backgroundHolimap {
  @extend .background;
  height: 100vh;
  overflow: hidden;
}

.projectContainer {
  @extend .card;
  top: 5vh;
  left: 15vw;
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  h3 {
    margin: 1vw 0 0 0;
    font-size: 2vw;
    border-bottom: solid 1px rgb(153, 153, 153);
    border-top: solid 1px rgb(153, 153, 153);
    padding: 0 5vw 0 5vw;
  }

  p {
    padding: 1vw 0 1vw 0;
    font-size: 1vw;
    text-align: center;
  }

  .videoContainer {
    border-radius: 1vw;
    overflow: hidden;
    width: 58vw;
  }

  video {
    width: 100%;
    height: auto;
  }
}
