@import "../../App.scss";

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #39519f;
  width: 100vw;
  height: 200vh;
  z-index: 1000;

  h1 {
    font-family: "Copperplate";
    position: absolute;
    top: 45vh;
    color: white;
    font-size: 5vw;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 2vh;
  }
}

.loaderHidden {
  display: none;
}

.contour {
  position: absolute;
  border: solid 1px white;
  border-radius: 15vw;
  margin-top: 4vh;
  width: 96vw;
  height: 92vh;
}

@media screen and (max-width: 600px) {
  .loader {
    height: 300vh;
    width: 100vw;
    h1 {
      top: 43dvh;
      text-align: center;
      font-size: 8vw;
      width: 60%;
    }
  }

  .contour {
    position: absolute;
    border: solid 1px white;
    border-radius: 15vw;
    margin-top: 2vh;
    width: 92vw;
    height: 96dvh;
  }
}
