@import "../../App.scss";

/* ------------------------------------------------------------------------------------------------ */
/*                                        Card Title                                          
/* ------------------------------------------------------------------------------------------------ */

.cardTitle {
	@extend .card;
	padding-left: 1.5vw;
	top: 2vw;
	left: 3vw;
	width: 40vw;
	height: 13vh;

	background-image: url(../src/assets/img/paper1.jpg);
}


/* ------------------------------------------------------------------------------------------------ */
/*                                        Card 1                                          
/* ------------------------------------------------------------------------------------------------ */

.card1Container{
	transform: rotate(0deg);
	position: relative;

	.card1 {
		@extend .card;
		@extend .cardHandCursor;
		align-items: center;
		top: 22vh;
		left: 2vw;
		width: 31vw;
		height: 70vh;
		background-image: url(../src/assets/img/paper4bis.jpg);
	
		strong {
			width: 90%;
			height: 85%;
		}
	}
}

/* ------------------------------------------------------------------------------------------------ */
/*                                        Card 2                                          
/* ------------------------------------------------------------------------------------------------ */

.card2Container{
	transform: rotate(-2deg);
	position: relative;

	.card2 {
		@extend .card;
		@extend .cardHandCursor;
		align-items: center;
		top: 45vh;
		left: 36vw;
		width: 25vw;
		height: 40vh;
		background-image: url(../src/assets/img/paper5.jpg);
	
		strong {
			width: 90%;
			height: 80%;
		}
	}
}


/* ------------------------------------------------------------------------------------------------ */
/*                                        Card 3                                         
/* ------------------------------------------------------------------------------------------------ */

.card3Container{
	transform: rotate(0deg);
	position: relative;

	.card3{
		@extend .card;
		@extend .cardHandCursor;
		align-items: center;
		width: 40vw;
		height: 90vh;
		top: 5vh;
		left: 58vw;
		background-image: url(../src/assets/img/paper4bis.jpg);
	
		strong {
			width: 93%;
			height: 90%;
		}
	}
}


/* ------------------------------------------------------------------------------------------------ */
/*                                        Card4                                          
/* ------------------------------------------------------------------------------------------------ */

.card4Container{
	transform: rotate(2deg);
	position: relative;

	.card4 {
		@extend .card;
		@extend .cardHandCursor;
		align-items: center;
		top: 21vh;
		left: 36vw;
		width: 20vw;
		height: 23vh;
		background-image: url(../src/assets/img/paper4bis.jpg);
								  
		h3 {
			font-family:$font-family_1 ;
			font-size: 1vw;
			margin-bottom: 3%;
			text-align: center;
		}
	
		strong {
			border:0;
			border-radius: 0;
			overflow: visible;
		}
	
		.firstPart{
			@extend .cardHandCursor;
			width: 90%;
		}
	
		.secondPart{
			@extend .cardHandCursor;
			width: 90%;
		}
	
		.secondPartHidden{
			display: none;
		}

		&Small{
			
			height: 12vh;
		}

		&Tall{
			height: 20vh;
		}
	}
}



/* ------------------------------------------------------------------------------------------------ */
/*                                         Geocoder                                            
/* ------------------------------------------------------------------------------------------------ */


.suggestions-wrapper{
	background-color: #cccab9;

}


.mapboxgl-ctrl-geocoder{
	margin-left : auto;
	margin-right : auto;
	min-width: 100%;
	min-height: 100%;
	
}


.mapboxgl-ctrl-geocoder--icon{
	display: none;
}

.mapboxgl-ctrl-geocoder input[type='text']{
	background-color: #cccab9;
	font-family: $font-family_1;
	user-select: auto;
}


.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
	box-shadow: none;
}


.mapboxgl-ctrl-geocoder input[type='text']::selection{
	background: #fff;

}


/* ------------------------------------------------------------------------------------------------ */
/*                                      Buttons on Card 4                                           
/* ------------------------------------------------------------------------------------------------ */

.buttonContainer{
	width: 100%;
	margin-top: 3%;
	margin-right: auto;
	margin-left:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.button{
		text-align: center;
		width: 48%;
		padding: 0.5vw;
		background-color: #d8d6c3;
		font-size: .75vw;
		mix-blend-mode: multiply;
	}
	
	.clickedButton{
		text-align: center;
		width: 48%;
		padding: 0.5vw;
		background-color: #a09d89;
		font-size: .75vw;
	}
}


